$mFont: 'Gotham Pro'
$hFont: 'Halvar Breitschrift'

$yellow: #F8D628
$blue: #00ABF3
$hColor: #08083A
$tColor: #696984

.container
  width: 1250px
  box-sizing: border-box
  padding: 0 15px
  margin: 0 auto

body
  font-family: $mFont, $hFont, sans-serif
  background: #F4F7FA

.btn
  background: linear-gradient(92.35deg, #F8D628 0%, #FFD915 49%, #F0C900 100%)
  border-radius: 4px
  height: 42px
  min-width: 210px
  display: flex
  align-items: center
  justify-content: center
  color: #19232E

.heading
  text-align: center
  position: relative
  &:before
    content: ''
    width: 100%
    height: 2px
    background: $blue
    left: 0
    top: 20px
    position: absolute
  h2
    font-family: $hFont, $mFont, sans-serif
    color: $hColor
    font-size: 34px
    line-height: 41px
    letter-spacing: 0.03em
    text-transform: uppercase
    margin: 0
    position: relative
    display: inline-block
    padding: 0 10px
    background: #F4F7FA
  p
    text-align: center
    color: $tColor
    width: 55%
    margin: 10px auto 0
