$mFont: 'Gotham Pro'
$hFont: 'Halvar Breitschrift'

$yellow: #F8D628
$blue: #00ABF3
$hColor: #08083A
$tColor: #696984

.container
  width: 1250px
  box-sizing: border-box
  padding: 0 15px
  margin: 0 auto

body
  font-family: $mFont, $hFont, sans-serif
  height: 10000px

.btn
  background: linear-gradient(92.35deg, #F8D628 0%, #FFD915 49%, #F0C900 100%)
  border-radius: 4px
  height: 42px
  min-width: 210px
  display: flex
  align-items: center
  justify-content: center
  color: #19232E