@import "reset.sass"
@import "../fonts/fonts.css"
@import "sittings.sass"

/* Header */
.main-header
  .container
    display: flex
    justify-content: space-between
  &_contact
    ul
      margin: 0
      padding: 0
      li
        list-style: none
    &-msg
