@import "../fonts/fonts.css";
body {
  margin: 0;
  padding: 0;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

.container {
  width: 1250px;
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Gotham Pro", "Halvar Breitschrift", sans-serif;
  height: 10000px;
}

.btn {
  background: linear-gradient(92.35deg, #F8D628 0%, #FFD915 49%, #F0C900 100%);
  border-radius: 4px;
  height: 42px;
  min-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #19232E;
}

/* Header */
.main-header {
  padding: 11px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
}
.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header_contact {
  display: flex;
  column-gap: 45px;
}
.main-header_contact ul {
  margin: 0;
  padding: 0;
}
.main-header_contact ul li {
  list-style: none;
}
.main-header_contact-msg ul li a {
  color: #999999;
  font-size: 13px;
  line-height: 19px;
}
.main-header_contact-msg .skype {
  margin-top: 6px;
}
.main-header_contact-msg .skype ul li:first-child a:before {
  background: url(../img/skype_icon.png) no-repeat center center;
}
.main-header_contact-msg .mail ul li:first-child a:before {
  background: url(../img/msg_icon.png) no-repeat center center;
}
.main-header_contact-msg .skype ul li, .main-header_contact-msg .mail ul li {
  text-align: right;
}
.main-header_contact-msg .skype ul li:first-child a, .main-header_contact-msg .mail ul li:first-child a {
  position: relative;
  padding-left: 29px;
  display: inline-block;
}
.main-header_contact-msg .skype ul li:first-child a:before, .main-header_contact-msg .mail ul li:first-child a:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.main-header_contact-phone {
  text-align: right;
}
.main-header_contact-phone ul li:first-child a {
  position: relative;
  padding-left: 29px;
}
.main-header_contact-phone ul li:first-child a:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/call_icon.png) no-repeat center center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
}
.main-header_contact-phone ul li a {
  color: #08083A;
  font-size: 18px;
  line-height: 26px;
  display: inline-block;
}
.main-header_contact-phone .popup-btn {
  margin-top: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #00ABF3;
  text-decoration: underline;
}

/* Main Nav */
.main-nav {
  padding-top: 20px;
}
.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 50px;
}
.main-nav ul li {
  list-style: none;
}
.main-nav ul li a {
  color: #08083A;
  text-transform: uppercase;
  padding-bottom: 8px;
  display: block;
}
.main-nav ul li.active a {
  position: relative;
}
.main-nav ul li.active a:after {
  content: "";
  width: 100%;
  height: 3px;
  background: #F8D628;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Home Main */
.home-main {
  transition: all 0.5s linear;
  overflow: hidden;
}
.home-main-nav {
  transform: translateY(-50%);
}
.home-main-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.home-main-nav ul li {
  list-style: none;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: #ffffff;
  flex-basis: 275px;
}
.home-main-nav ul li a {
  display: flex;
  padding: 20px 20px 20px 30px;
  align-items: center;
  column-gap: 10px;
  font-size: 14px;
  font-weight: 700;
  background-image: linear-gradient(92.35deg, #1E3F63 0%, #265AA3 49%, #287EF8 100%);
  color: transparent;
  background-clip: text;
}
.home-main-nav ul li a h3 {
  margin: 0;
}
.home-main-block {
  background-size: cover !important;
  padding-top: 110px;
  padding-bottom: 190px;
  opacity: 0;
  display: none;
  transition: all 0.5s linear;
}
.home-main-block.show {
  display: block;
  opacity: 1;
}
.home-main-text {
  width: 650px;
}
.home-main-text .small {
  font-size: 14px;
  color: #ffffff;
}
.home-main-text h2 {
  font-size: 40px;
  line-height: 46px;
  color: #ffffff;
  font-family: "Halvar Breitschrift";
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 5px 0 0;
}
.home-main-text h2 span {
  color: #F8D628;
}
.home-main-text p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0 0;
  color: #ffffff;
}
.home-main-btn {
  display: flex;
  column-gap: 30px;
  margin-top: 30px;
}
.home-main-btn a:not(.order) {
  width: 245px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
}
.home-main .now {
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  margin-top: 10px;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
